<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-3">TweetApp</h1>
    <p class="lead">TweetAppはhideyuk1が作成したTwitterのようなWebアプリケーションです。</p>
    <hr class="my-4">
    <p>ProgateでRuby on Railsを学んだ直後に動くものを実際に作ってみようと思って作りました。</p>
    <p class="lead">
      <a class="btn btn-outline-primary btn-lg" href="https://github.com/hideyuk1-jp/tweet-app" target="_blank" role="button">GitHubへ</a>
      <a class="btn btn-primary btn-lg" href="https://hideyuk1.com" target="_blank" role="button">作者のブログへ</a>
    </p>
  </div>
</div>
