<div class="jumbotron">
    <h1>Tweetを制する者はAppを制する</h1>
    <p>TweetAppは、ProgateでRuby on Railsを学習した直後のhideyuk1が作成したWebアプリケーションです。</p>
    <p><%= link_to("作者のブログ：hideyuk1.com", "https://hideyuk1.com", class: "btn btn-primary btn-lg", role: "button") %></p>
</div>
