<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">TweetApp</h1>
    <hr color="#fff" class="my-4">
    <p class="lead">TweetAppはhideyuk1がProgateでRuby on Railsを学んだ直後に作成した</p>
    <p class="lead">ポートフォリオ用のサンプルアプリケーションです。</p>
    <p class="lead mt-4">
      <a class="btn btn-secondary btn-lg" href="https://github.com/hideyuk1-jp/tweet-app" target="_blank" role="button">GitHubへ</a>
      <a class="btn btn-primary btn-lg" href="https://hideyuk1.com" target="_blank" role="button">作者のブログへ</a>
    </p>
  </div>
</div>
