/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "lumen/variables";
@import "bootstrap";
@import "lumen/bootswatch";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
a.card, a.card:hover, a.post-user, a.post-user:hover {
  color: inherit;
  text-decoration: none;
}
.card-footer .liked-count, .card-footer .commented-count {
  line-height: 1;
}
.btn {
  text-transform: none;
}
.size-50 {
  width: 50px;
  height: 50px;
}
.size-40 {
  width: 40px;
  height: 40px;
}
.size-35 {
  width: 35px;
  height: 35px;
}
.liked {
  color: #ff3775;
}
